.App {
  text-align: center;
}

form {
  padding: 20px;
  margin: 20px auto;
  border-bottom: 1px solid plum;
}

form div {
  padding: 10px 0;
}
form label {
  margin-right: 10px;
}
form input {
  padding: 5px;
}
input:focus {
  outline: 1px solid peru;
}
input:active {
  outline: 1px solid peru;
}
button {
  font-size: 18px;
  border: none;
  color: white;
  background: peru;
  padding: 10px 20px;
}

button:hover {
  opacity: 0.75;
}

button:active {
  background: palevioletred;
}